* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}


.layout {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 45px 1fr;
    height: 100vh;
}

.layout {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 45px auto auto;
    height: 100vh;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 75px;
    height: 45px;
    border: 1px solid #C6CDDC;
}

.top-left {
    display: flex;
    gap: 20px;
}

.top-left a:hover {
    color: #FD965D;
}

.top-left a {
    text-decoration: none;
    color: #425F96;
    justify-content: flex-start;
}

.top-mid {
    align-items: center;
}

.top-mid p {
    color: #425F96;
}

.top-mid p strong {
    color: #5BC694;
}

.top-right {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.top-right select {
    border: none;
}

.top-right p {
    color: #425F96;
}

.top-right p strong {
    color: #5BC694;
}

.main-container {}

.sidebar {
    width: 50px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 45px;
    border: 1px solid #C6CDDC;
    gap: 30px;
    padding: 30px 10px;
    font-size: 18px;
    grid-row: 2;
    grid-column: 1;
    position: fixed;

}

.sidebar a i {
    color: black;
}

.navbar {
    border: 1px solid #C6CDDC;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    /* gap: 30px; */
    align-items:center;
}

.nav-left {
    display: flex;
    align-items: center;
    padding: 0 0 0 20px;
    gap: 40px;
}

.search {
    border: 1px solid #EAEFF2;
    border-radius: 10px;
    padding: 0;
    align-items: center;
    width: 400px;
}

.drop-but {
    padding: 16px;
    border: none;
    cursor: pointer;
    background-color: white;
}

.search-cat {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
}

.search-cat a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.search-cat a:hover {
    background-color: #f1f1f1
}

.search:hover .search-cat {
    display: block;
}

.search:hover .drop-but {
    background-color: white;
}

.search .drop-but {
    color: #4287C7;
}

.search-cat a {
    color: #4287C7;
}

.boxa {
    border: none;
    height: 40px;
    width: 250px;
}

.navbar .nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 30px;
    gap: 20px;
    font-size: 20px;
}

.nav-mid {
    display: flex;
    /* align-items: center; */
    justify-content: flex-start;
    gap: 20px;
    padding: 0 0px;
    /* justify-content: center; */
}

.mid {
    position: relative;
}

.mid-btn {
    padding: 10px 20px;
    border: none;
    background: white;
    cursor: pointer;
    font-size: 15px;
}

.mid-drop {
    display: none;
    position: absolute;
    background: white;
    min-width: 180px;
}

.mid-drop a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 14px;

}

.mid-drop a:hover {
    background: #f2f2f2;
}

.mid:hover .mid-drop {
    display: block;
}

.nav-right a {
    color: #425F96;
}

.mid-contact a {
    text-decoration: none;
    color: #425F96;
    font-size: 15px;

}

.hero {
    display: flex;
    padding: 20px 80px;
}

.hero-left {
    padding: 60px;
    width: 880px;
    height: 500px;
    border: none;
    border-radius: 10px;
    background-image: url("Assets/Hero 1 Image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-left h2 {
    font-size: 40px;
    color: #425A8B;
}

.hero-left h1 {
    font-size: 60px;
    color: #425A8B;
}

.hero-left p {
    max-width: 300px;
    color: #425A8B;
}

.left-but {
    display: flex;
    gap: 10px;
}

.hero-left .shop-now1 {
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color: #FD9636;
    color: white;
    cursor: pointer;
}

.shop-now1:hover {
    background-color: #425A8B;
}

.hero-left .learn-more {
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background: none;
    color: #425A8B;
}

.learn-more:hover {
    color: #FD9636;
    cursor: pointer;
}

.hero-right {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right-up {
    display: flex;
    flex-direction: column;
    border: none;
    gap: 12px;
    border-radius: 10px;
    height: 240px;
    width: 450px;
    background-image: url(/Assets/Right\ Hero\ Up.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px 20px;
}

.right-up .hup1 {
    color: #425A8B;
}

.right-up h3 {
    font-size: 25px;
    color: #425A8B;
}

.right-up .hup2 {
    color: #425A8B;
    font-size: 20px;
    max-width: 150px;
}

.right-up button {
    background-color: #425A8B;
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 150px;
    color: white;
}

.right-down {
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 5px;
    height: 240px;
    width: 450px;
    padding: 30px 20px;
    background-image: url(/Assets/Hero\ Right\ Down.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    gap: 12px;
}

.right-down .hdp1 {
    color: #425A8B;
    font-size: 20px;

}

.right-down h3 {
    font-size: 25px;
    color: #425A8B;
}

.right-down button {
    background-color: #425A8B;
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 150px;
    color: white;
}